[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
s3fs = "==0.3.4"
fastparquet = "==0.3.2"
pandas = "*"
boto3 = "*"
nose = "*"
pytest = "*"
pyathena = "*"
pyarrow = "*"
requests = "==2.22.0"
coinmarketcap = "==4.2.1"

[packages]
boto3 = "*"
retrying = "*"
twython = "*"

[requires]
python_version = "3.6"
